<div *ngIf="!selectedProject">
    <h2>Liste des projets</h2>
    <div *ngFor="let project of projects" class="project-card">
      <h3>{{ project.name }}</h3>
      <p>{{ project.description }}</p>
      <button (click)="showTasks(project)">Voir les tâches</button>
    </div>
  </div>
  
  <div *ngIf="selectedProject">
    <h2>Tâches du projet: {{ selectedProject!.name }}</h2>
    <p>{{ selectedProject!.description }}</p>
  
    <div *ngFor="let task of selectedProject.tasks" class="task-card">
      <h4>{{ task.name }}</h4>
      <p>{{ task.description }}</p>
      <p>Prix: {{ task.price | currency:'EUR' }}</p>
      <img [src]="task.imageUrl" alt="{{ task.name }}" width="100" height="100">
  
      <!-- Checkbox pour sélectionner ou désélectionner une tâche -->
      <div class="task-selection">
        <input 
          type="checkbox" 
          [checked]="isTaskSelected(task)" 
          (change)="toggleTaskSelection(task)">
        <label for="task">{{ isTaskSelected(task) ? 'Retirer du panier' : 'Ajouter au panier' }}</label>
      </div>
    </div>
  
    <button (click)="hideTasks()">Retour aux projets</button>
  </div>