.project-container {
	max-width: 1250px; /* Set the maximum width for the container */
	margin: 0 auto; /* Center the container horizontally */
}

@media (max-width: 768px) {
	.project-container {
			padding: 15px; /* Adjust padding for smaller screens */
	}
}
.shop-description {
    max-width: 800px; /* Limiter la largeur de la description */
    margin: 20px auto; /* Centrer la description */
    padding: 20px;
    background-color: #f2f2f2; /* Couleur de fond claire */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour effet de profondeur */
}

.shop-description h1 {
    text-align: center; /* Centrer le titre */
    color: #333; /* Couleur du texte */
}

.shop-description p {
    line-height: 1.6; /* Améliorer la lisibilité */
    color: #555; /* Couleur du texte */
}

.customer-reviews {
    max-width: 800px; /* Limiter la largeur des avis */
    margin: 20px auto; /* Centrer les avis */
    padding: 20px;
    background-color: #fff; /* Couleur de fond blanche */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour effet de profondeur */
}

.customer-reviews h2 {
    text-align: center; /* Centrer le titre des avis */
    color: #007bff; /* Couleur bleue pour le titre */
}

.review {
    border-bottom: 1px solid #eee; /* Ligne de séparation entre les avis */
    padding: 10px 0; /* Espacement vertical */
}

.review:last-child {
    border-bottom: none; /* Retirer la ligne de séparation pour le dernier avis */
}

.review h4 {
    margin: 0; /* Retirer le marge */
    color: #333; /* Couleur du nom du client */
}

.review p {
    color: #555; /* Couleur du texte de l'avis */
    margin: 5px 0 0; /* Marges pour espacer le texte */
}

